.custom-toast {
    box-sizing: border-box !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    width: 400px !important;
    height: 80px !important;
    position: absolute;
    top: 50px;
    z-index: 9999;
    border-radius: 20px !important;
    background-color: #eeeeee !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important; 
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

.custom-hideClass {
    animation: fadeOut 0.3s ease-in-out;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}

.custom-container {
    width: 100% !important;
}

.custom-title {
    margin: 0 !important;
    color: #ff675b;
    font-size: 22px !important;
    text-align: center !important;
}

.custom-html {
    margin: 0 !important;
}